#!/usr/bin/env bash
{{ if eq .chezmoi.os "linux" "darwin" -}}
set -euo pipefail

[ -x "$HOME/.bun/bin/bun" ] && exit 0
command -v bun >/dev/null && exit 0

curl -fsSL https://bun.sh/install | bash
{{ end -}}
