#!/usr/bin/env bash
{{ if eq .profile "mac" -}}
set -euo pipefail

if ! command -v brew >/dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

brewfile="{{ .chezmoi.sourceDir }}/packages/Brewfile"
[ -f "$brewfile" ] || { echo "no $brewfile — skipping"; exit 0; }

brew bundle --file="$brewfile" --no-lock
{{ end -}}
