#!/usr/bin/env bash
{{ if eq .chezmoi.os "linux" "darwin" -}}
set -euo pipefail

[ -d "$HOME/.oh-my-zsh" ] && exit 0

RUNZSH=no CHSH=no KEEP_ZSHRC=yes \
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
{{ end -}}
