#!/usr/bin/env bash
{{ if eq .chezmoi.osRelease.id "cachyos" "arch" -}}
set -euo pipefail

src="{{ .chezmoi.sourceDir }}/packages"

pkg_terminal="$src/arch-terminal.txt"
[ -f "$pkg_terminal" ] && sudo pacman -Syu --needed --noconfirm - < "$pkg_terminal"

{{ if eq .profile "main" -}}
pkg_desktop="$src/arch-desktop.txt"
[ -f "$pkg_desktop" ] && sudo pacman -S --needed --noconfirm - < "$pkg_desktop"

pkg_system="$src/arch-system.txt"
[ -f "$pkg_system" ] && sudo pacman -S --needed --noconfirm - < "$pkg_system"
{{ end -}}
{{ end -}}
