#!/usr/bin/env bash
{{ if eq .chezmoi.osRelease.id "cachyos" "arch" -}}
set -euo pipefail

command -v yay >/dev/null && exit 0

sudo pacman -S --needed --noconfirm base-devel git
tmp=$(mktemp -d)
trap 'rm -rf "$tmp"' EXIT
git clone --depth=1 https://aur.archlinux.org/yay-bin.git "$tmp/yay-bin"
(cd "$tmp/yay-bin" && makepkg -si --noconfirm)
{{ end -}}
