#!/usr/bin/env bash
{{ if eq .chezmoi.osRelease.id "cachyos" "arch" -}}
set -euo pipefail

src="{{ .chezmoi.sourceDir }}/packages"

pkg="$src/arch-aur-terminal.txt"
[ -f "$pkg" ] && [ -s "$pkg" ] && yay -S --needed --noconfirm - < "$pkg"

{{ if eq .profile "main" -}}
pkg="$src/arch-aur-desktop.txt"
[ -f "$pkg" ] && [ -s "$pkg" ] && yay -S --needed --noconfirm - < "$pkg"
{{ end -}}
{{ end -}}
